{% extends 'base.html' %}

{% block bodyblock %}
<h2 class='content'>Face Recognition Application</h2>
<p>Gender Classification: This app is driven by data and machine learning model. As soon as user
    upload the image, in background it convert into grayscale, crop face, convert into eigen image
    and finally it passed to the model to get prediction.
    All this functionality is dumped in the flask App.</p>
<img src="{{url_for('static',filename='images/002.PNG')}}" alt="" width="700">
<div align="center">
    <a href="{{url_for('gender')}}" class="btn btn-outline-primary">Try it Now</a>
</div>
{% endblock %}